<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/12b8749e-138b-4a8b-8bc7-18d4a1d10905/resourceGroups/Aspire/providers/Microsoft.Web/sites/aspire-loan</ResourceId>
    <ResourceGroup>Aspire</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://aspire-loan.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>aspire-loan.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>aspire-loan</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$aspire-loan</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>